<form ng-submit="gestion.edit('potager', gestion.hive.slug, gestion.hiveCopy)">
  <div class="mui-textfield  mui-textfield--float-label">
    <legend>Nom</legend>
    <input type="text" id="hive.name" ng-model="gestion.hiveCopy.name" ng-value="gestion.hive.name"/>

</div>
<div class="mui-textfield  mui-textfield--float-label">
  <legend>Description</legend>
  <textarea type="text" id="hive.description" ng-model="gestion.hiveCopy.description" ng-value="gestion.hive.description">{{gestion.hive.description}}</textarea>

</div>

<div class="gestion-btn">
    <button class="btn-reset mui-btn mui-btn--fab hvr-sweep-to-right" type="reset" ng-click="gestion.reset('potager', 'edit')"><i class="fa fa-angle-double-left"></i></button>
    <button class="btn-valid hvr-sweep-to-right mui-btn mui-btn--raised mui-btn--primary mui-btn--fab" type="submit"><i class="fa fa-check"></i></button>
</div>
</form>
