<div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 edit-potager">
  <div class="alert-box">
    <h1 >Ruche {{gestion.hive.name}}</h1>
    <button class="btn-delete mui-btn mui-btn--fab hvr-sweep-to-right gestion-btn" ng-click="gestion.delete('potager', gestion.hive.slug)"><i class="fa fa-trash"></i></button>
  </div>

  <div class="alert-box">
    <h3>Ruche</h3>


    <potagerdisplay ng-hide="gestion.editHive"></potagerdisplay>

    <potagereditform ng-show="gestion.editHive"></potagereditform>
    <div class=" action-button-container">
      <button class="edit-btn mui-btn mui-btn--fab hvr-sweep-to-right gestion-btn" ng-click="gestion.display('potager', 'edit')" ng-hide="gestion.editHive"><i class="fa fa-pencil"></i></button>
    </div>
  </div>

  <div class="alert-box">

    <h3>Alertes</h3>
    <div>
      <potagerlistalert></potagerlistalert>


      <alertnewForm ng-show="gestion.newAlert"></alertnewForm>

      <alertchangeform ng-show="gestion.changeAlert"></alertchangeform>

      <div class="gestion-btn" ng-hide="gestion.newAlert||gestion.changeAlert">
        <button class="btn-more mui-btn mui-btn--fab hvr-sweep-to-right " ng-click="gestion.display('alert', 'new')">+</button>
        <button class="btn-link mui-btn mui-btn--fab hvr-sweep-to-right " ng-click="gestion.display('alert', 'change')"><i class="fa fa-link"></i></button>
      </div>
    </div>

  </div>
    <button class="back-dash" ng-click="gestion.goBack()"><< RETOUR AU DASHBOARD</i></button>
</div>
