
<ul>
    <li ng-repeat="hive in gestion.hives">
        <h3 ng-click="gestion.selectedPotager(hive)">Potager {{hive.slug}}</h3>
        <button ng-click="gestion.selectedPotager(hive)">Editer</button>
        <button ng-click="gestion.deletePotager(hive)">Supprimer</button>
        <p>{{hive.description}}</p>
        <h4>Place</h4>
        <ul>
            <li>Localisation: {{hive.environment.location}}</li>
            <li>Air: {{hive.environment.temperature_air}}</li>
            <li>Water: {{hive.environment.temperature_water}}</li>
            <li>Humidité: {{hive.environment.humidity_air}}</li>
            <li>Taux de luminosité: {{hive.environment.sunshine_sensor}}</li>
            <li>Niveau du réservoir: {{hive.environment.reservoir_sensor}}</li>
            <li>public: {{hive.environment.is_public}}</li>
        </ul>
    </li>
</ul>
