
<div class="container alert-page">


  <div class="col-md-12">
    <ul class="collection dash-list">
      <!--<li class="dash-list-title">{{ dashboard.title }}</li>-->
      <li class="collection-item avatar dash-list-item" ng-repeat="alert in gestion.alerts">
        <div class="dashSelection" ng-click="gestion.goToPage('alert', 'select', alert.slug)">
          <img src="http://www.iconsdb.com/icons/preview/soylent-red/temperature-xxl.png" id="dashImage" alt="Urban Potager Picture" class="circle">
          <span class="title dash-detail-title">{{ alert.name }}</span>
          <p ng-class="dash" ng-bind="alert.description"> <br>
          </p>
          <button class="mui-btn mui-btn--fab dash-button hvr-sweep-to-right" ng-click="potager.onEditClick()"><i class="fa fa-info"></i></button>
        </div>
      </li>
    </ul>
</div>

  <!--<div class="alert-box col-md-9 col-sm-9 no-pad animated bounceIn test" ng-repeat="alert in gestion.alerts">
    <div class="col-md-4 col-sm-4 no-pad single-alert" ng-class="dash" ng-click="gestion.goToPage('alert', 'select', alert.slug)">
      <h1>{{ alert.name }}</h1>
      <p ng-bind="alert.description" class="description"></p>
      <button class="btn-edit hvr-buzz mui-btn mui-btn mui-btn--primary mui-btn--fab" ng-click="potager.onEditClick()"><i class="fa fa-pencil-square-o"></i></button>
    </div>
  </div>-->
</div>

<div ng-hide="gestion.alerts.length">
  <p>No Alert</p>
  <alertnewform ng-show="gestion.newAlert"></alertnewform>
  <button class="pure-button" ng-click="gestion.display('alert', 'new')" ng-hide="gestion.newAlert">Nouvelle alerte</button>
</div>
</div>
