.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: rgba(0, 0, 0, 0.42)!important;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4)!important;
    border-radius: 5px!important;
color: #fff;
text-transform: uppercase;
font-size: 2em;
font-family: 'geosans', Calibri, Arial, sans-serif;
}
.leaflet-container a.leaflet-popup-close-button {
    display: none;
}
.leaflet-popup-content {
    margin: 12px 41px 12px 20px;
    line-height: 1.4;
}
