<div class="dashboard" ng-init="dashboard.getDatas()">

  <div class="container">
    <div class="col-md-12">
      <ul class="collection dash-list">
        <!--<li class="dash-list-title">{{ dashboard.title }}</li>-->
        <li class="collection-item avatar dash-list-item" ng-repeat="potager in dashboard.listePotagers.gardens">
          <div class="dashSelection" ng-init="dashboard.addRandImages()" ng-click="dashboard.selectedPotager(potager)">
            <img ng-src="{{ potager.imgRand }}" id="dashImage" alt="Urban Potager Picture" class="circle">
            <span class="title dash-detail-title">{{ potager.name }}</span>
            <p ng-class="dash" ng-click="dashboard.selectedPotager(potager)" ng-bind="potager.description">First Line <br>
            </p>
            <button class="btn-floating waves-effect waves-light dash-button" ng-click="dashboard.selectedPotager(potager)"><i class="fa fa-info"></i></button>
          </div>
        </li>
      </ul>
  </div>


</div>
</div>
